body {
  font-family: verdana, helvetica, sans-serif;
}

code {
  font-size: 110%;
}

table.Warnings {
  border-collapse: collapse;
}

table.Warnings, table.Warnings > tbody > tr > td {
  border: 1px solid blue;
  padding: 3pt;
}

.Title {
  font-weight: bold;
}

td.Description {
  background-color: yellow;
  height: 10pt;
}

table.Properties th {
  text-align: right;
  font-weight: normal;
  font-size: 80%;
  color: #444;
}